@model SistemaWebVuelos.Models.Vuelo

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Vuelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="item">
            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>
        </div>
        
<div class="item">
    <dt>
        @Html.DisplayNameFor(model => model.Destino)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Destino)
    </dd>
    </div>

<div class="item">
    <dt>
        @Html.DisplayNameFor(model => model.Origen)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Origen)
    </dd>
    </div>
<div class="item">
    <dt>
        @Html.DisplayNameFor(model => model.Matricula)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Matricula)
    </dd>
    </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VueloID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
