@model IEnumerable<SistemaWebVuelos.Models.Vuelo>

@{
    ViewBag.Title = "DetalleDestino";
}

<h2>DetalleDestino</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VueloID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VueloID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VueloID })
        </td>

        
    </tr>
    <a href="/vuelo/index">Volver</a>
}

</table>
